/*抵消全局css*/
input[type="text"], input[type="password"], textarea {border-color: #ccc;}
.form-control{padding: 6px 12px !important;}

/*下拉列表*/
.kekTable-dropList{min-width: 0;max-height: 150px;overflow-y: scroll;padding: 0;}
.kekTable-dropList .divider{margin: 0;}
.kekTable-dropList>li>span{padding: 3px 12px;font-weight: 400;color: #333;white-space: nowrap;cursor: pointer;display: block;}
.kekTable-dropList>li>span:hover{color: #262626;background-color: #f5f5f5;}
/*lov*/
.kekTable-lov{padding: 5px;width:auto;}
.kekTable-lov tbody tr{cursor: pointer;}
.dropdown .kekTable-lov-input{cursor: pointer;background: #fff;}
/*表格*/
.kekTable-listPanel{position: relative;}
/*表格-標題*/
.kekTable-listPanel .panel-heading{overflow: hidden;padding: 2px 12px 2px 4px;}
.kekTable-listPanel .panel-heading[data-toggle="collapse"]{cursor: pointer;}
.kekTable-listPanel .panel-heading h3,.kekTable-listPanel .panel-heading h5{margin: 0;line-height: 40px;}
/*表格-工具欄*/
.kekTable-listPanel .panel-body{padding: 6px 4px;background-color: #F5F5F5;border-bottom: 1px solid #ddd;}
.kekTable-listPanel .panel-body .btn-toolbar .glyphicon{margin-right: 4px;}
/*表格-數據*/
.kekTable-table-group{overflow: auto;}
.kekTable-table-group .table{margin: 0;border: 0;table-layout: fixed;}
.kekTable-table-group .table thead{background-color: #f9f9f9;}
.kekTable-table-group .table-bordered>thead>tr>th,.kekTable-listPanel .table-bordered>thead>tr>td {border-bottom-width:0}
.kekTable-table-group .table th,.kekTable-listPanel .kekTable-table-group .table td{white-space: nowrap;overflow: hidden;}
/*表格-总计*/
.kekTable-table-summary {border-bottom: 1px solid #ddd;}
.kekTable-table-summary h5{padding: 2px 6px;}
/*表格-分頁*/
.kekTable-listPanel .panel-footer{padding:6px 4px;position: relative;overflow: hidden;}
.kekTable-listPanel .panel-footer>nav{float: left;}
.kekTable-listPanel .panel-footer>.alert{float: right;margin-bottom: 0;padding: 6px 4px;display: none;}
.kekTable-listPanel .panel-footer .pagination{margin: 0;vertical-align: bottom;}
.kekTable-listPanel .panel-footer .pagination>li>a,.kekTable-listPanel .panel-footer .pagination>li>span {font-size: 14px;}
/*表格状态*/
.kekTable-listPanel .kekTable-state{position: absolute;top: 12px;right: 6px;}
/*loading*/
.kekTable-loading{position: absolute;left: 0;top: 0;z-index: 3;height: 100%;width: 100%;border-radius: 4px;}
.kekTable-loading p{display: block;position: relative;top: 49%;text-align: center;}
.kekTable-loading .bk-opacity{opacity: 0.8;filter: alpha(Opacity=80);background-color: #000;height: 100%;width: 100%;border-radius: 4px;position: absolute;top: 0;left: 0;}
/*表格-单笔记录*/
.kekTable-single-table{margin-bottom: 0;border-bottom: 1px solid #ddd;padding-bottom: 15px;}
.kekTable-single-table>li>div{margin: 15px 0 0 15px;display: inline-block;}
.kekTable-single-table>li>div>b:after{content: ' :';font-size: 16px;}
.kekTable-single-table .kekTable-col{border-bottom: 1px solid #333;display: inline-block;line-height: 16px;margin-left: 6px;vertical-align: bottom;}
/*表格-冻结*/
.kekTable-table-frozen{position: absolute;width: auto;}
.kekTable-table-frozen tbody td{background-color: #fff;}
/*表格-主从*/
.kekTable-table-md{margin-top: 15px;overflow: hidden;border-bottom: 1px solid #ddd;padding: 0 15px;}
/*編輯框*/
.modal-dialog{margin:30px auto;}
.modal-header{padding: 10px 15px 8px 15px;}
/*編輯框-查詢*/
/*.kekTable-search .modal-dialog{width: 600px;}*/
.kekTable-search .modal-body{padding: 0;}
.kekTable-search .caret{margin-left: 2px;}
.kekTable-search-block{overflow: auto;padding: 15px;}
.kekTable-search-block li{margin: 6px 0;white-space: nowrap;}
.kekTable-search-block li>button[data-bool]{margin-right: 6px;vertical-align: top;}
.kekTable-search-block li>button[data-ctrl]{margin-left: 6px;vertical-align: top;}
.kekTable-search-block li>button[data-col]{border-top-right-radius: 0;border-bottom-right-radius: 0;}
.kekTable-search-block li>button[data-opt]{border-radius: 0;}
.kekTable-search-block>li>button:first-child[data-col]{margin-left: 46px;}
.kekTable-search-block-sub{display: inline-block;border: 1px dashed #adadad;border-radius: 4px;padding: 0 6px;}
/*.kekTable-search-bool{vertical-align: top;}*/
/*.kekTable-search-item{border: 1px solid #ddd;border-radius: 4px;padding: 2px;display: inline-block;margin: 6px 0;}*/
/*.kekTable-search-item-first{margin-left: 54px;}*/
/*.kekTable-search-itemList{min-width: 0;}
.kekTable-search-itemList>li>span{padding: 3px 20px;font-weight: 400;color: #333;white-space: nowrap;cursor: pointer;display: block;}
.kekTable-search-itemList>li>span:hover{color: #262626;background-color: #f5f5f5;}*/
.kekTable-search-itemValue{width: 100px;display: inline-block;border-top-left-radius: 0;border-bottom-left-radius: 0;}
/*編輯框-修改*/
.kekTable-edit .modal-body{padding: 15px 0;}
.kekTable-edit .modal-footer .alert{float: left;padding: 6px 12px;margin-bottom: 0;max-width: 440px;text-align: left;display: none;}
.kekTable-edit-block{overflow: auto;}
.kekTable-edit-block li{overflow: hidden;}
.kekTable-edit-block li .form-group{float: left;margin-left: 15px;}
.kekTable-edit-block li .input-group-addon{text-align: left;width: auto;}
/*编辑框-排序*/
.kekTable-sort .modal-body{overflow: hidden;}
.kekTable-sort-list{float: left;width: 100%;margin-right: -80px;padding-right: 95px;}
.kekTable-sort-block li{cursor: pointer;}
.kekTable-sort-block li:hover{color: #555;text-decoration: none;background-color: #f5f5f5;}
.kekTable-sort-ctrl{float: left;width: 80px;}
.kekTable-sort-ctrl .btn-group-vertical,.kekTable-sort-ctrl .btn-group{margin-bottom: 10px;}
/*.kekTable-sort-ctrl .dropdown-menu li{padding: 3px 20px;font-weight: 400;color: #333;white-space: nowrap;cursor: pointer;display: block;}
.kekTable-sort-ctrl .dropdown-menu li:hover{color: #555;background-color: #f5f5f5;}*/
